<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quản_lý_sinh_viên_PKA.Properties.Settings.QuanlydiemConnectionString" connectionString="Data Source=DESKTOP-7VL01BJ\SQLEXPRESS;Initial Catalog=QuanLyDiem;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Quản_lý_sinh_viên_PKA.Properties.Settings.QuanLyDiemConnectionString1" connectionString="Data Source=DESKTOP-7VL01BJ\SQLEXPRESS;Initial Catalog=QuanLyDiem;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Quản_lý_sinh_viên_PKA.Properties.Settings.QuanlydiemConnectionString2" connectionString="Data Source=DESKTOP-7VL01BJ\SQLEXPRESS;Initial Catalog=QuanLyDiem;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Quản_lý_sinh_viên_PKA.Properties.Settings.QuanlydiemConnectionString3" connectionString="Data Source=DESKTOP-7VL01BJ\SQLEXPRESS;Initial Catalog=QuanLyDiem;Integrated Security=True"/>
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
